<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cse489.coursemanagement">

    <uses-permission android:name="android.permission.SET_ALARM"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CMS"
        android:usesCleartextTraffic="true">
        <activity android:name=".GiveExamsActivity"></activity>
        <activity android:name=".CreateQuestions" />
        <activity android:name=".ExamsActivity" />
        <activity android:name=".CourseUpdateActivity" />
        <activity android:name=".AllCoursesActivity" />
        <activity android:name=".CourseActivity" />
        <activity android:name=".Create_course" />
        <activity android:name=".MainActivity" />
        <activity android:name=".StartingActivity" />
        <activity android:name=".StudentRegistrationActivity" />
        <activity android:name=".TeacherRegistrationActivity" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>